{% extends "layout.html" %}

{% block content %}
{#<div clas="container" style="text-align: center;">
    <div class="row">
        <div id="search" class="col text-center">
            <button class="btn btn-default">Search</button>
        </div>
        <div id="search" class="col text-center">
            <button class="btn btn-default" disabled>Classifier</button>
        </div>
        <div id="search" class="col text-center">
            <button class="btn btn-default" disabled>Image</button>
        </div>
    </div>
</div>#}
<div class="container">

</div>
{% endblock content %}