{% extends "layout.html" %}

{% block content %}
    <div class="content-section container-fluid">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {% if form.searchInput.errors %}
                        {{ form.searchInput(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.searchInput.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.searchInput(class="form-control", placeholder="Search" ) }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <hr>
    </div>
    <div class="table-responsive">
            {% if topFive %}
                <table class="table" style="overflow-x: scroll;">
                    <tr>
                        <th > Name</th>
                        <th > Title</th>
                        <th > Role</th>
                        <th > Region</th>
                        <th > Bio</th>
                        {% for term in topFive[0]["WordData"] %}
                            <th>{{term.Term}} - TF</th>
                            <th>{{term.Term }} - Frequency</th>
                            <th>{{term.Term}} - IDF</th>
                        {% endfor %}
                        <th > TF-IDF</th>
                    </tr>

                    {% for result in topFive %}
                        <tr>
                            <td >{{ result.Name }}</td>
                            <td>{{ result.Title }}</td>
                            <td>{{ result.Role }}</td>
                            <td>{{ result.Region }}</td>
                            <td class="small">{{ result.Bio }}</td>
                            {% for data in result.WordData %}
                                <td> {{ data.Tf }} </td>
                                <td> {{ data.Frequency }} </td>
                                <td> {{ data.Idf }} </td>
                            {% endfor %}
                            <td>{{ result.Score }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="row">
                    <h3>no results</h3>
                </div>

            {% endif %}
        </div>
{% endblock content %}